.footer {
    padding-top: 75px;
    height: 0;
    width: 0;
}

.footer .footer-inner {
    text-align: center;
    position: absolute;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer .footer-inner .footer-content {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 4px;
    padding: 8px;
    line-height: 36px;
    border-top: 3px double #e5e5e5;
}

.bigger-120 {
    font-size: 120%!important;
}