<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.dao.BrandTypeDao">

    <!-- 一级分类查询 -->
    <select id="findFirstBrandTypes" parameterType="Map" resultType="com.hk.entity.BrandType">
        SELECT id,typeName,sortNum,createDate,modifyDate,pid
        FROM brandtype
        WHERE sortNum = '0'
        AND (pid = '' OR pid = NULL)
        <if test="typeName!=null and typeName!='' ">
            AND typeName LIKE #{typeName}
        </if>
        ORDER BY typeName
        <if test="start!=null and size!=null">
            LIMIT #{start},#{size}
        </if>
    </select>

    <select id="getTotalFirstBrandType" parameterType="Map" resultType="Long">
        SELECT COUNT(*) FROM brandtype
        WHERE sortNum = '0'
        AND (pid = '' OR pid = NULL)
        <if test="typeName!=null and typeName!='' ">
              AND typeName LIKE #{typeName}
        </if>
    </select>

    <!-- 根据ID查询 -->
    <select id="findBrandTypeById" parameterType="String" resultType="com.hk.entity.BrandType">
        SELECT id,typeName,sortNum,createDate,modifyDate,pid
        FROM brandtype
        WHERE id = #{id}
    </select>

    <!-- 判断名称是否存在 -->
    <select id="findTypeNameIsExist" parameterType="String" resultType="Long">
        SELECT COUNT(*)
        FROM brandtype
        WHERE typeName = #{typeName}
    </select>

    <!-- 添加 -->
    <insert id="addBrandType" parameterType="com.hk.entity.BrandType">
        INSERT INTO brandtype(id,createDate,modifyDate,pid,typeName,sortNum)
        VALUES (#{id},#{createDate},#{modifyDate},#{pid},#{typeName},#{sortNum})
    </insert>

    <!-- 修改 -->
    <update id="updateBrandType" parameterType="com.hk.entity.BrandType">
        update brandtype
        <set>
            <if test="modifyDate!=null and modifyDate!='' ">
                modifyDate=#{modifyDate},
            </if>
            <if test="pid!=null and pid!='' ">
                pid=#{pid},
            </if>
            <if test="typeName!=null and typeName!='' ">
                typeName=#{typeName}
            </if>
        </set>
        where id=#{id}
    </update>


    <!-- 根据PID查询二级分类 -->
    <select id="findSecondBrandTypesByPid" parameterType="Map" resultType="com.hk.entity.BrandType">
        SELECT id,createDate,modifyDate,pid,typeName,sortNum
        FROM brandtype
        WHERE pid = #{pid}
        AND sortNum = '1'
        <if test="typeName!=null and typeName!='' ">
            AND typeName LIKE #{typeName}
        </if>
        ORDER BY typeName
        <if test="start!=null and size!=null">
            LIMIT #{start},#{size}
        </if>
    </select>

    <select id="getTotalSecondBrandType" parameterType="Map" resultType="Long">
        SELECT COUNT(*) FROM brandtype
        WHERE sortNum = '1'
        AND pid = #{pid}
        <if test="typeName!=null and typeName!='' ">
            AND typeName LIKE #{typeName}
        </if>
    </select>

    <delete id="deleteBrandTypesById" parameterType="String">
        delete from brandtype where id in
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

    <delete id="deleteBrandTypesByPid" parameterType="String">
        delete from brandtype where pid in
        <foreach item="typePid" collection="array" open="(" separator="," close=")">
            #{typePid}
        </foreach>
    </delete>
</mapper>