<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.dao.FriendlyLinkDao">

    <!-- 查询 -->
    <select id="getLinkList" parameterType="Map" resultType="com.hk.entity.FriendlyLink">
        SELECT id,linkName,linkUrl,createDate,modifyDate
        FROM friendlylink
        <where>
            <if test="linkName!=null and linkName!='' ">
                AND linkName LIKE #{linkName}
            </if>
        </where>
        ORDER BY linkName DESC
        <if test="start!=null and size!=null">
            LIMIT #{start},#{size}
        </if>
    </select>

    <select id="getTotalLinks" parameterType="Map" resultType="Long">
        SELECT COUNT(*) FROM friendlylink
        <where>
            <if test="linkName!=null and linkName!='' ">
                AND linkName LIKE #{linkName}
            </if>
        </where>
    </select>

    <!-- 添加 -->
    <insert id="addLinks" parameterType="com.hk.entity.FriendlyLink">
        INSERT INTO friendlylink(id,linkName,linkUrl,createDate,modifyDate)
        VALUES (#{id},#{linkName},#{linkUrl},#{createDate},#{modifyDate})
    </insert>

    <select id="findLinkNameIsExist" parameterType="String" resultType="Long">
        SELECT COUNT(*)
        FROM friendlylink
        WHERE linkName = #{linkName}
    </select>

    <!-- 根据ID查询 -->
    <select id="findLinkById" parameterType="String" resultType="com.hk.entity.FriendlyLink">
        SELECT id,linkName,linkUrl,createDate,modifyDate
        FROM friendlylink
        WHERE id = #{id}
    </select>

    <!-- 修改 -->
    <update id="updateLink" parameterType="com.hk.entity.FriendlyLink">
        update friendlylink
        <set>
            <if test="modifyDate!=null and modifyDate!='' ">
                modifyDate=#{modifyDate},
            </if>
            <if test="linkName!=null and linkName!='' ">
                linkName=#{linkName},
            </if>
            <if test="linkUrl!=null and linkUrl!='' ">
                linkUrl=#{linkUrl}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteLinks" parameterType="String">
        delete from friendlylink where id in
        <foreach item="linkId" collection="array" open="(" separator="," close=")">
            #{linkId}
        </foreach>
    </delete>
</mapper>